/* CSS for FRONTFACE on everything thats not an mobile device */

body {
	background: #200020 url(../images/bgadmin.png);
	font-family: Arial, Verdana;
	color: #fff;
	font-size: 12px;
}

h1 {
	color: #000;
	font-weight: bold;
	font-size: 24px;
}
h3 {
	color: #000;
	font-weight: bold;
	font-size: 14px;
}
p {
	color: #000;
}

#wrapper {
	width: 900px;
	margin: 30px auto;
	background: #FFF;
	color: #000;
}