/* CSS for MOBILE devices */

body {
	background: #273555;
	font-family: Arial, Verdana;
	color: #fff;
	font-size: 12px;
}

h1 {
	color: #fff;
	font-weight: bold;
	font-size: 24px;
}
h3 {
	color: #fff;
	font-weight: bold;
	font-size: 14px;
}
p {
	color: #fff;
}

#green { color: #37873f; }
#red { color: #F00; }